.swiper {
  width: 85%;
  padding-top: 20px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 80%;
  max-width: 800px;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
