.card {
  background-color: bisque;
  padding: 3rem 5rem;
  border-radius: 2rem;
}

.card p {
  padding-top: 1rem;
  line-height: 150%;
}

.expand {
  width: 35rem;
}

.rectangular-card {
  border: 2px solid #5840bb;
  padding: 1rem;
  border-radius: 10px;
  color: #1d252d;
  box-shadow: 0px 10px 30px rgba(155, 155, 155, 0.1);
}

.rectangular-card h5,
.rectangular-card h2 {
  margin: 0;
}
